:root {
  --neutral-900: black;
  --galactic-blue-500: #755CDE;
  --light-red-500: #E16B5B;
  --summer-yellow-500: #F6A560;
  --neutral-0: white;
  --neutral-200: #FFF7F0;
  --pink-500: #F39E9E;
  --cyan-500: #61C4B7;
  --dark-purple-500: #552049;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--neutral-200);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 16px;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h2 {
  margin: 0;
}

.button {
  color: var(--neutral-0);
  border: none;
  padding: 15px 16px;
  cursor: pointer;
  border-radius: 999px;
  width: 200px;
}

.button-dark {
  background-color: var(--neutral-900);
}

.button-dark:hover {
  background-color: var(--galactic-blue-500);
}

.button-dark:focus {
  outline: solid 3px var(--galactic-blue-500);
  outline-offset: 2px;
}

.button-light {
  background-color: var(--light-red-500);
}

.button-light:hover {
  background-color: var(--summer-yellow-500);
}

.button-light:focus {
  outline: solid 3px var(--summer-yellow-500);
  outline-offset: 2px;
}

.button-arrow {
  background-color: var(--neutral-900);
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 999px;
  width: 64px;
  height: 64px;
}

.button-arrow:hover {
  background-color: var(--galactic-blue-500);
}

.button-arrow:focus {
  outline: solid 3px var(--galactic-blue-500);
  outline-offset: 2px;
}

.nav {
  display: flex;
  height: 52px;
  justify-content: space-between;
}

.hero-content {
  text-align: center;
  margin: 0 auto; /* Centers the content */

  p {
    font-size: 18px;
  }

  h1 {
    font-size: 40px;
  }

  @media screen and (min-width: 426px) {
    max-width: 500px;

    h1 {
      font-size: 56px;
    }

  }

}


.graphic-design-card {
  display: flex;
  color: white;
  flex-direction: column;
  background-color: var(--galactic-blue-500);
  padding: 20px 20px;
  border-radius: 8px;
  gap: 5rem;

  img {
    width: 50%;
    height: auto;
    align-self: flex-end;
  }
}

.ui-card {
  display: flex;
  color: white;
  flex-direction: column;
  background-color: var(--summer-yellow-500);
  padding: 20px 20px;
  width: 50%;
  border-radius: 8px;
  gap: 2rem;

  img {
    width: 50%;
    height: auto;
    align-self: flex-end;
  }
}

.services-container {
  display: flex;
  width: 100%;
  gap: 20px;
}

.services-section {
  display: grid;
  grid-template-columns: 1fr; /* Default: single column for mobile */
  grid-template-rows: auto;
  gap: 20px; /* Space between cards */

  @media screen and (min-width: 426px) {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /* Two columns for tablet */
    grid-template-rows: auto auto; /* Adjust rows automatically */
    grid-template-areas:
      "graphic-design ui apps"
      "photography illustrations motion-graphics";
  
  }

}

.graphic-design-card {
  grid-area: graphic-design;
}

.ui-card {
  grid-area: ui;
}

.apps-card {
  grid-area: apps;
}

.photography-card {
  grid-area: photography;
}

.illustrations-card {
  grid-area: illustrations;
}

.motion-graphics-card {
  grid-area: motion-graphics;
}

.apps-card {
  display: flex;
  color: white;
  flex-direction: column;
  background-color: var(--pink-500);
  padding: 20px 20px;
  width: 50%;
  border-radius: 8px;
  gap: 2rem;

  img {
    width: 45%;
    height: auto;
    align-self: flex-end;
  }
}

.illustrations-card {
  display: flex;
  color: white;
  flex-direction: column;
  background-color: var(--light-red-500);
  padding: 20px 20px;
  border-radius: 8px;
  gap: 3rem;

  img {
    width: 45%;
    height: auto;
    align-self: flex-end;
  }
}

.photography-card {
  display: flex;
  color: white;
  flex-direction: column;
  background-color: var(--cyan-500);
  padding: 20px 20px;
  border-radius: 8px;
  gap: 3rem;

  img {
    width: 45%;
    height: auto;
    align-self: flex-end;
  }
}

.motion-graphics-card {
  display: flex;
  color: white;
  flex-direction: column;
  background-color: var(--dark-purple-500);
  padding: 20px 20px;
  border-radius: 8px;
  gap: 3rem;

  img {
    width: 45%;
    height: auto;
    align-self: flex-end;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;

  img {
    width: 90%;
    height: auto;
    border-radius: 8px;
  }
}

/* Carousel styles */

.my-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.carousel-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.carousel-controls {
  display: flex;
  gap: 16px;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button img {
    width: 24px;
    height: 24px;
}


.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--neutral-0);
  background-color: var(--neutral-900);
  padding: 40px 20px;
  border-radius: 10px;
  gap: 40px;
}